html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@font-face {
  font-family: 'ace-cursor';
  src:  url('libs/fonts/ace-cursor.eot?2xq2f');
  src:  url('libs/fonts/ace-cursor.eot?2xq2f#iefix') format('embedded-opentype'),
    url('libs/fonts/ace-cursor.ttf?2xq2f') format('truetype'),
    url('libs/fonts/ace-cursor.woff?2xq2f') format('woff'),
    url('libs/fonts/ace-cursor.svg?2xq2f#ace-cursor') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ace_cursor_handle-"], [class*=" ace_cursor_handle-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ace-cursor' !important;
  display: none;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 250%;
  position: absolute;
  line-height: 0.5;
  z-index: 99;
  color:teal;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#editor [class^="ace_cursor_handle-"],[class*=" ace_cursor_handle-"]{
    display: block;
}
.ace_text-input{
    height: 40px;
    line-height: 40px;
}
.ace_cursor_handle-center:before {
  content: "\e900";
}
.buttonBar{
    border-left:1px solid rgba(0,0,0,0.12);
    border-right: 1px solid rgba(0,0,0,0.12);
    height:auto;
    width:150px;
    white-space: nowrap;
    padding:0;
    overflow: auto;
    text-align: center;
    text-transform: capitalize;
    float:right;
    background: rgba(128,128,128,0.1);
}
select{
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    height: 30px;
    background: none;
    border:none;
    border-bottom: 1px solid rgba(128,128,128,0.5);
    border-radius: 5px;
    color:inherit;
    outline: none;
}
#controls select:not(.number){
    width:150px;
}
.number{
    color:inherit;
    width:30px;
    padding-right: 30px;
    height: 30px;
    border:none;
}
.buttonBar span{
    display: inline-block;
    height:auto;
    min-width: 50px;
    padding: 5px 10px;
    line-height: 20px;
    color:inherit;
}
.buttonBar span[ace_selected_button='true']{
    font-size: 18px;
    color:#2196F3;
}
#settings{
    padding: 0;
}
#controls{
    width:auto;
    font-size: 15px;
    margin:0;
    margin-top:5px;
}
span.header{
    height:32px;
    line-height: 32px;
    width:100%;
    display: block;
    padding: 0 10px;
    text-transform: uppercase;
    background: rgba(0,0,0,0.12);
    margin: 5px 0 5px 5px;
}
.toggleBelow .material-icons{
    display: block;
    height:100%;
    float:right;
}

ul{
    margin:0;
}
#controls>li{
    overflow: hidden;
    width:auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    height:90%;
    transition: height 0.1s linear;
}
#controls>li>table{
    width:100%;
}
#controls>.closed{
    height:40px;
}
#controls .header{
    width:100%;
    height:40px;
    background: rgba(0,0,0,0.12);
    display: block;
    text-transform: uppercase;
    margin: 0;
    line-height: 40px;
    padding-left: 20px;
}
tr.ace_optionsMenuEntry>:first-child span{
    display:inline-block;
    /*margin:15px;*/
    padding: 10px;
}

.ace_optionsMenuEntry>:last-child{
    text-align: right;
    line-height: 40px;
    padding-right: 10px;
}
tr.ace_optionsMenuEntry>td{
    padding: 5px 0px;
    height:50px;
    line-height: 20px;
}

tr.ace_optionsMenuEntry span{
    vertical-align: middle;
}
.ace_cursor_handle-left:before {
  content: "\e901";
}
.ace_cursor_handle-right:before {
  content: "\e902";
}
.emphasis {
    animation: floater 500ms ease-in 0s 10 alternate;
    -webkit-animation: floater 500ms ease-in 0s 10 alternate;
}

.modal {
    z-index: 1000;
}

.modal .modal-content {
    padding: 15px;
}

.modal .close-icon {
    top: 15px;
    right: 15px;
}

.edge_box-1 {
    position: relative;
    padding-right: 40px;
}

.edge_box-2 {
    position: relative;
    padding-right: 80px;
}

.edge_box-1-0 {
    position: relative;
    padding-left: 40px;
}

.edge_box-1-1 {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}

.fill_box {
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
}

.pb-10 {
    padding-bottom: 10px;
}

.p-10 {
    padding-top: 10px;
}

.h-50 {
    height: 50px;
    line-height: 50px;
}

.h-30 {
    line-height: 30px;
    height: 30px;
}

.edge_box-1-1>.side-2,
.edge_box-2>.side-2,
.edge_box-1>.side-1 {
    text-align: center;
    top: 0px;
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0;
}

.edge_box-1-0>.side-1,
.edge_box-1-1>.side-1 {
    text-align: center;
    top: 0px;
    position: absolute;
    width: 40px;
    height: 100%;
    left: 0;
}

.edge_box-2>.side-1 {
    text-align: center;
    top: 0px;
    position: absolute;
    width: 40px;
    height: 100%;
    right: 40px;
}

.row .col {
    padding: 0;
}

.row {
    margin-bottom: 0px;
}

.input-field {
    margin: 0px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(./libs/font/MaterialIcons-Regular.woff2) format('woff2');
}

.cm-tab {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
    background-position: right;
    background-repeat: no-repeat;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.ui {
    box-shadow: 0px 1px 5px 0px black;
    background: inherit;
    z-index: 80;
    position: relative;
}

.close-icon {
    position: absolute;
    right: 0px;
    line-height: inherit;
    color: red !important;
    top: 0px;
}


/*region*searchTab*/

#searchResults>ul li {
    list-style-type: none;
    position: relative;
    padding-bottom: 10px;
    min-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#searchResults #line-number{
    display:inline-block;
    padding-right:10px;
    opacity:0.8;
    text-align: left;
}

.replaceBox {
    display: none;
}

.show_replace .replaceBox {
    display: inline-block;
}

.clipper {
    width: 100%;
    /* Standard CSS ellipsis */
    white-space: nowrap;                   
    overflow: hidden;
    text-overflow: ellipsis;  
    /* Beginning of string */
    direction: rtl;
    text-align: left;
    unicode-bidi:plaintext;
    
}
.clipper:hover{
    overflow: auto;
    text-overflow: inherit;
}
.fileview-header .clipper{
    display: inline-block;
    padding-left:20px;
    font-size: 110%;
    /*width:200px;*/
}
.fileview-header .clipper a{
    border: 5px solid transparent;
    border-bottom: 2px solid;
}
#find_file{
    margin-bottom: 15px;
}
#status-filename{
    display: inline-block;
    width:250px;
}
#moreResults {
    display: none;
}

#searchResults .replace-all {}

#searchResults .hide {}

#searchResults #result {
    background: lightblue;
}


/*endregion*/


/*region*editor*/

#editor .ace_scrollbar-v {
    right: 5px;
    padding: 10px;
}

#editor .ace_scrollbar-v::-webkit-scrollbar {
    width: 7px;
}

.multieditor {
    overflow: hidden;
    height: calc(100%-90px);
    right: 0px;
    padding: 0px;
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 40px;
    white-space: nowrap;
}
.multieditor.scrollable {
    overflow-x: auto;
}

.multieditor.scrollable>.pane {
    min-width: 300px;
}

.multieditor>.pane {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    vertical-align: top;
}

.multieditor.split>.pane {
    display: inline-block;
}

.multieditor.split-v>.pane {
    display: block;
}

.active-split {
    min-width: 300px;
    min-height: 300px;
}

.gutter-h {
    width: 20px;
    height: 100%;
}

.gutter-v {
    height: 20px;
    width: 100%;
}

.gutter-h,.gutter-v{
    display: none;
    background: #2196F3;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.split>.gutter-h {
    display: block;
}

.split-v>.gutter-v {
    display: block;
}

.gutter-h:hover,.gutter-v {
    opacity: 0.5;
}



#preview {
    border-left: 2px solid #2196F3;
    /*border-radius: 5px;*/
    background: white;
}

.fullscreen {
    top: 0;
    transform: none!important;
}

.ace_editor {
    border: 0px;
    height: auto;
    width: auto;
    font-family: monaco;
}

@media only screen and (max-width: 600px) {
    .ace_editor.ace_autocomplete {
        width: 90%;
    }
}

.ace_editor.ace_autocomplete {
    position: absolute;
    z-index: 99;
}

.ace_active-line {
    opacity: 0.5;
    border: 2px solid #bbb;
    border-radius: 4px;
}

.ace_tooltip {
    max-width: 70vw;
    border-radius: 2px;
    white-space: pre-wrap;
}


/*endregion*/


/*region*theming*/

body {
    color: #636363;
    background: white;
}

#editor .ace_scrollbar-v::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128);
}

.ace_button:focus,
.ace_button:active,
.ace_searchbtn:active,
.ace_searchbtn_close:active {
    color: #0D47A1;
}

.ace_tooltip,
.ace_search_field:active,
input:not([type]):focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]) {
    border-color: #2196F3;
}

.material-icons,
#actions span,
.tabs .tab a.active,
.ace_button.checked {
    color: #2196F3;
}

.tabs {
    background: inherit;
}

.tabs .tab a.active {
    background-color: inherit;
    border-bottom: 2px solid;
}

.tabs .tab a {
    color: grey;
    }

.ace_optionsMenuEntry button[ace_selected_button="true"] {
    border-color: #2196F3;
    color: #2196F3;
}


/* theme-black */

body.theme-black,
.theme-dark {
    color: #dddddd;
}

body.theme-black .material-icons,
body.theme-black #actions span,
.theme-black .tabs .tab a.active {
    color: white;
}

body.theme-dark .material-icons,
body.theme-dark #actions span,
.theme-black .tabs .tab a.active {
    color: white;
}

.theme-black #actions {
    box-shadow: 0 -1px 5px white;
}

.theme-black .ui {
    box-shadow: 0 1px 5px white;
}

.theme-black input,
.theme-dark input {
    color: white;
}

.theme-black .dropdown-content {
    background: #333333;
}

.theme-dark .dropdown-content {
    background: black;
}

.theme-black .dropdown-content li>span,
.theme-black .dropdown-content li>a {
    color: #636363;
}

.theme-dark .dropdown-content li>span,
.theme-dark .dropdown-content li>a {
    color: #636363;
}

.theme-black #editor .ace_scrollbar-v::-webkit-scrollbar-thumb {
    background-color: white;
}


/* theme-gob */

body.ace-gob .material-icons,
body.ace-gob #actions span,
.ace-gob .tabs .tab a.active {
    color: rgb(3, 238, 3);
}


/*endregion*/


/*region*menu*/

.tab .close-icon {
    display: none;
}
#find_file{
    margin-left: 15px;
}
/*#hierarchy{
    position: relative;
    height: 50%;
}*/
#opendocs{
    max-height:50%;
    overflow: auto;
    margin-bottom: 15px;
}
.activeTab{
    background:rgba(128,128,128,0.1);
}
#hierarchy_tab h6{
    margin-left: 40px;
}
#menu{
    position: absolute;
    top:0px;
    right:0px;
    left:40px;
    width:auto;
    height:50px;
    background: transparent;
    
}
#menu .tab{
    height:50px;
}
.ace_status-indicator{
    position:absolute;
    right:10px;
    font-weight: bolder;
}
#menu .tab a{
    height: 35px;
    line-height: 40px;
}
#status-text{
    position:absolute;
    top:35px;
    height: 15px;
    left:40px;
    right:0;
    line-height: 15px;
    font-size: 10px;
}
#menu .tab:last-child {
    padding-right: 20px;
}
#menu .tab:last-child:first-child{
    line-height: 50px;
}
#menu .tab:last-child:first-child a.active{
    border:none;
}
#action_bar {
    padding-left: 40px;
    width:auto;
    height: 50px;
}

#action_bar>span {
    width: 40px;
    text-align: center;
    top: 0px;
    height: 40px;
    line-height: 55px;
}

.abs-left {
    position: absolute;
    left: 0px;
    right: auto;
}

.abs-right {
    right: 0px;
    left: auto;
    position: absolute;
}

#menu .tab a {
    position: relative;
    padding-right: 30px;
    padding-left: 5px;
}


/*endregion*/


/*region*runButton*/

#runButton {
    position: absolute;
    right: 20px;
    bottom: 90px;
    z-index: 1000;
    opacity: 0.4;
}

#runButton:hover {
    opacity: 1;
}

#runButton .material-icons {
    color: white;
    font-size: 35px;
}


/*endregion*/


/*region*actions*/

#actions {
    background: inherit;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    overflow: hidden;
    z-index: 150;
    width: 100%;
    border-top: 1px solid black;
    box-shadow: 0 -1px 5px 0 black;
    white-space: nowrap;
}

#actions .fill_box {
    overflow-x: auto;
    overflow-y: hidden;
}
#actions.closed {
    white-space: normal;
}
#actions span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    margin: 0;
    display: inline-block;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

#actions .material-icons {
    font-size: inherit;
}

#a-left .material-icons {
    width: 25px;
}

#actions span .material-icons {
    color: inherit;
}

#char-bar span {
    padding-bottom: 5px;
}

#toolbar-toggle {
    position: absolute;
    left: 15px;
    bottom: 50px;
    height: 40px;
    width: 40px;
    z-index: 200;
}

#actions #shift {
    font-size: 10px;
    text-transform: uppercase;
}

#toolbar-toggle .material-icons {
    font-size: 30px;
}

#actions span:active {
    color: black;
    background: grey;
    opacity: 0.5;
}


/*endregion*/


/*region*ace_search,ace_settings*/


/*settings*/

.btn-group-container {
    white-space: nowrap;
    max-width: 200px;
    overflow-x: scroll;
}

#search_container .row {
    margin-bottom: 10px;
}

.btn-group:first-child {
    -moz-border-radius-topleft: 15px;
    -webkit-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}

.btn-group {
    display: inline;
    font-size: 14px;
    text-transform: uppercase;
    border-color: transparent;
    height: 30px;
    background: transparent;
    color: inherit;
    line-height: 30px;
    box-shadow: none;
}

.btn-group:last-child {
    -moz-border-radius-topright: 15px;
    -webkit-border-radius-topright: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
}

.ace_search {
    padding: 5px;
    padding-bottom: 0;
    z-index: 99;
    left: 0;
    width: auto;
    background: inherit;
}

.ace_searchbtn,
.ace_searchbtn:last-child {
    border: none;
    margin-right: 5px;
}

.ace_search_form td,
.ace_replace_form td {
    padding:0;
    padding-right: 10px;
    float:left;
    max-width: 60%;
}

.ace_search_field:active,
input:not([type]):focus:not([readonly]),
input[type="text"]:focus:not(.browser-default):not([readonly]),
input[type="number"]:focus:not(.browser-default):not([readonly]) {
    /*box-shadow:0px 0px 2px #2196F3;*/
    border-width: 2px;
    border-style: solid;
    box-shadow: none;
}

.ace_button,
.ace_searchbtn_close {
    text-decoration: none;
    background: inherit;
    border: none;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    padding: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.ace_button:hover,
.ace_search_options .ace_button {
    font-size: 15px;
    margin-right: 10px;
}

.ace_search_options .ace_button.material-icons {
    font-size: 30px;
    border: 0px;
}

.ace_search tr {
    border-bottom: none;
}

.ace_search_field,
input:not([type]),
input[type="text"]:not(.browser-default),
input[type="number"]:not(.browser-default) {
    min-width: 0;
    height: 30px;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}


/*endregion*/


/*region*filebrowser*/

@keyframes floater {
    0% {
        opacity: 1;
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    100% {
        opacity: 0.9;
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
}

@keyframes color-change {
    0% {
        color: red;
    }
    20% {
        color: blue;
    }
    40% {
        color: green;
    }
    60% {
        color: yellow;
    }
    100% {
        color: red;
    }
}

@-webkit-keyframes color-change {
    0% {
        color: red;
    }
    20% {
        color: #2196F3;
    }
    40% {
        color: green;
    }
    60% {
        color: yellow;
    }
    100% {
        color: red;
    }
}

.fileview-dropdown {
    position: absolute;
    right: 0px;
    left: auto;
    opacity: 1;
    min-width: 150px;
}

.folder-item {}

.selected {
    background: rgba(128, 128, 128, 0.1);
}

.file-item {
    height: 32px;
    line-height: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 14px;
    border: none;
    overflow-x: hidden;
    text-overflow: ellipsis;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    min-width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    vertical-align: top;
}

.file-item:hover {
    overflow-x: auto;
    text-overflow: initial;
}

.modal .fileview {
    overflow-y: hidden;
}

.fileview-container {
    overflow: hidden;
    background: inherit;
}

.fileview-container>.fileview {
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;
    margin: 0px;
    padding-bottom: 50vh;
}

.fileview-header {
    border-bottom: 2px solid #2196F3;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0;
    height:50px;
    padding-top: 10px;
    line-height: 40px;
    background-color: rgba(0,0,0,0.12);
}


.fileview>.fileview {
    padding: 0;
    padding-left: 12px;
    width: 100%;
}

#folder-name {
    width: 100%;
}

.file-item .material-icons {
    font-size: 20px;
}
.file-item span{
    margin-left:5px;
    vertical-align: top;
    display: inline-block;
    height: inherit;
    line-height: inherit;
}
.clipboard-empty .hide-if-clip-empty {
    display: none;
}

.file-item .dropdown-btn {
    position: absolute;
    height: 100%;
    width: 40px;
    line-height: inherit;
    text-align: center;
    background: inherit;
    right: 0px;
    top: 0px;
}

.back-button {
}

#filedir-select input[type="text"] {
    border-radius: 0;
    padding: 0px;
    margin: 0px;
    background: none;
    padding-left: 5px;
    height: 40px;
}


/*endregion*/


/*region*sidenav*/

#side-menu {
    background: inherit;
}

#side-menu>div {
    position: absolute;
    top: 70px;
    bottom: 60px;
    left: 0;
    right: 0;
    overflow: auto;
}

#side-menu .loading {
    height: 100%;
    width: 100%;
    padding: 50px;
    text-align: center;
    animation: color-change 5000ms ease-in 0s 10 alternate;
    -webkit-animation: color-change 5000ms ease-in 0s 10 alternate;
}

#save-text {
    display: none;
}

.drag-target {
    width: 20px;
    z-index: 20;
}

#selector {
    height: 70px;
    position: absolute;
    top: 0px;
}

#selector .tab {
    height: 70px;
    line-height: 70px;
    min-width: 50px;
}


/*endregion*/


/*region*dropdown*/

.dropdown-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-content>li>a {
    padding: 5px;
    padding-left: 10px;
    line-height: 30px;
    font-size: 14px;
}

.dropdown-content>li {
    min-height: 40px;
    height: 40px;
}


/*endregion*/